.btn {
    $shadow: 0 0 2px 3px color("primaryLight2"), 0 0 3px 4px color("primary");

    cursor: pointer;
    border-radius: 8px;
    background-color: color("primary");
    color: color("supportDark4");
    padding: 1.2rem 4rem;
    outline: none;

    @include state((
        default: initial,
        hover: $shadow,
        focus: $shadow,
    ), box-shadow);
    @include transition("button", box-shadow, opacity);
    &:disabled {
        opacity: 0.5;
        cursor: wait;
    }
}