.modal {
    $paddingY: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: $paddingY 1.5rem;
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    z-index: map-get($zIndex, "modal");
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    
    @include transition("global", opacity);
    &.--show {
        opacity: 1;
    }
    &__dialog {
        max-width: 1100px;
        max-height: calc(100vh - $paddingY * 2);
        flex: 1;
        border-radius: 8px;
        background-color: color("supportLight1");
        overflow-y: auto;

        @include breakpoint("xxl") {
            max-width: 1000px;
        }
    }
}

.modal-scrollbar {
    position: fixed;
    inset: 0;
    overflow: hidden;
}