body {
    font-size: fontSize("body");
    line-height: 1.5;
    font-weight: 400;
    font-family: Helvetica, Arial, sans-serif;
	color: color("supportDark2");

    @include breakpoint(sm) {
        font-size: fontSize("bodySm");
    }
}
.h1 {
    @include font-size(fontSize("h1"));
    font-family: "Spectral", Georgia, serif;
    line-height: 1;
    font-weight: 600;
    margin: 1rem 0;
    position: relative;

    &::before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background-color: color("primary");
        position: absolute;
        bottom: 5px;
        left: -5px;
        z-index: -1;

    }
}