body {
    font-size: fontSize("body");
    line-height: 1.5;
    font-weight: 400;
    font-family: Helvetica, Arial, sans-serif;
	color: color("supportLight2");

    @include breakpoint(sm) {
        font-size: fontSize("bodySm");
    }
}
h1 {
    @include font-size(fontSize("h1"));
    line-height: 1.2;
    font-weight: 600;
}