body {
    padding-top: 7rem;

    @include breakpoint("sm") {
        padding-bottom: 7rem;
    }
}
a {
    color: color("supportDark2");
}
.error {
    color: color("danger");
    margin: 1.2rem 0;
    font-weight: bold;
}