.header {
    $paddingAnchor: 2rem;
    width: 100%;
    position: fixed;
    inset: 0 0 auto;
    z-index: map-get($zIndex, header);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: color("supportLight1");

    svg {
        @include responsiveSVG;
        width: 30px;
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > a {
            padding: $paddingAnchor 0;
        }
    }
    &__logo,
    &__login {
        @include state((
            default: ( 
                color: color("supportDark2"),
                fill: color("supportDark2"),
            ),
            hover: (
                color: color("primaryLight1"),
                fill: color("primaryLight1"),
            ),
            active: (
                color: color("primary"),
                fill: color("primary"),
            )
        ));
    }
    &__logo {
        display: block;
        padding-right: $paddingAnchor;
    }
    &__login {
        padding-left: $paddingAnchor;
        display: flex;
        align-items: center;
        column-gap: 1rem;

        svg {
            width: 20px;
        }
    }
}
